# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# netlify
.netlify

#posts
/posts/airtag.mdx
/posts/containers.mdx
/posts/example-post.mdx
/posts/ifw-site.mdx
/posts/ide-setup.mdx
/posts/maintenance-app.mdx
/posts/marketplace-ml.mdx
/posts/offline-gpt.mdx
/posts/python.mdx
/posts/raspberry-pi.mdx
/posts/robot-vacuum.mdx
/posts/sheldon-gpt.mdx
/posts/trello.mdx
/posts/watch-app.mdx
/posts/watering.mdx
/posts/website-next-js.mdx
/posts/widget.mdx

#public
/public/russia.pdf
/public/russia.png

bike-light promo testing portainer pdf  passwords  micropython  f1tv